
body {
    font-family: lora;
    font-size: 18px;
}

html {
    background-color: rgb(202, 202, 255);
}

h2 {
    font-style: italic;
}

h1 {
     background-color: rgb(255, 208, 216);
     box-shadow: 3, aqua;
}
